@font-face {
    font-family: 'OKDDUNG';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKDDUNG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTLaundryGothicR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicR.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-4Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-6SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

body {
    width: 100%;
}

h2 {
    font-family: 'Freesentation-9Black', sans-serif;
    color: black;
}

a {
    font-family: 'Freesentation-6SemiBold', sans-serif;
    color: black;
}

p {
    font-family: 'Freesentation-5Medium', sans-serif;
    font-size: clamp(1rem, 1vw, 1.2rem);
    color: black;
}

.f-4Regular {
    font-family: 'Freesentation-4Regular', sans-serif;
}

.f-TTLG-R {
    font-family: 'TTLaundryGothicR', sans-serif;
}

.social-icon {
    height: 2em;
    width: auto;
}

.color-coral {
    color: #FF6347;
}

.full-height {
    height: 100vh;
}

.full-width {
    width: 100%;
}

.btn-custom-2nd {
    background-color: #FF6347;
    color: white;
}

.btn-custom-2nd:hover {
    background-color: #FF4500;
    color: white;
}

.container-custom {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
    width: 100%;
}

.form-group label {
    align-self: flex-start;
    margin-bottom: 5px;
    color: black;
}

.form-group input, .form-group textarea {
    flex-grow: 1;
    width: 100%;
}

#couponImagePreview {
    display: none;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
}

.btn-container button {
    padding: 1rem;
    width: 49%;
    height: 4.5rem;
}

.coupon-logo {
    font-family: 'OKDDUNG', sans-serif;
    font-size: clamp(2rem, 3vw, 4rem);
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

.coupon-logo span {
    color: #FF6347;
}

.number {
    font-size: 36px;
    font-weight: bold;
}

.max-width-600 {
    max-width: 600px;
    margin: auto;
}

.full-height {
    min-height: 100vh;
}

.full-width {
    max-width: 100%;
}

.bg-custom {
    background: linear-gradient(to bottom, white, #f7cac9);
    width: 100%;
    height: 100%;
}

.custom-fs-5 {
    font-size: clamp(3rem, 3vw, 5rem);
}

.caption {
    text-transform: uppercase;
    font-family: 'Freesentation-9Black', sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

@media (max-width: 1024px) {
    .custom-fs-5 {
        font-size: clamp(1.5rem, 1.5vw, 2rem);
    }

    .caption {
        font-size: clamp(0.5rem, 0.25vw, 0.5rem);
    }
}

@media (max-width: 768px) {
    .custom-fs-5 {
        font-size: clamp(1rem, 1vw, 1rem);
    }

    .caption {
        font-size: clamp(0.4rem, 0.2vw, 0.4rem);
    }
}

.timer-bg-custom {
    background-color: #f3907f;
    background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.4) 30%,
    transparent 50%,
    rgba(255, 255, 255, 0) 70%);
    border: 2px solid #e0776a;
    border-top: 4px solid #f3a593;
    box-shadow: 0 -5px 10px rgba(243, 144, 127, 0.7),
    0 15px 35px rgba(0, 0, 0, 0.5),
    inset 0 1px 2px rgba(255, 255, 255, 0.3),
    inset 0 -1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    padding: 15px;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

#expiration-counter {
    font-family: 'Freesentation-5Medium', sans-serif;
    font-size: clamp(0.8rem, 1vw, 1rem);
    color: #6c757d;
}

#stock-counter {
    font-family: 'Freesentation-9Black', sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: #505a5f;
}

/* === 발급 버튼 디자인 === */
.btn-custom, .btn-custom-2nd {
    font-family: 'Freesentation-5Medium', sans-serif;
    padding: clamp(0.8rem, 2vw, 1.5rem);
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    border: none;
    width: 15vw;
    min-width: 150px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.btn-bg {
    background: linear-gradient(
            45deg,
            #FF7F50,
            #FF6347,
            #E0776A,
            #F3A593,
            #FFA07A,
            #FF4500,
            #FFDAB9,
            #FF7F50
    );
    color: white;
}

.btn-gra-anim {
    background-size: 400% 400%;
    animation: btn-gra-1 5s ease infinite;
}

.btn-custom:hover {
    transform: scale(1.2);
}

.btn-custom:active {
    transform: scale(0.97);
}

.btn-custom:hover::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 5px solid rgba(255, 127, 80, 0.7);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

@keyframes btn-gra-1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.nav-link {
    color: gray;
    position: relative;
    display: inline-block;
}

.nav-link.active {
    color: black;
    font-weight: bold;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background-color: gray;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: width 0.3s;
}

.nav-link.active::after {
    width: 70%;
    background-color: black;
}

.nav-link:hover::after {
    width: 70%;
    background-color: gray;
}

.card-body {
    overflow: auto;
    min-height: 10vh;
}

/* == 페이지 스타일 == */
.page-link {
    color: #959595;
    margin-right: 5px; /* 오른쪽 마진 추가 */
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}


.page-link::before, .page-link::after {
    content: none;
}

.page-link:hover {
    color: #ffffff;
    background-color: #959595;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 0 !important;
}

.page-item.active .page-link {
    color: #ffffff;
    background-color: #000000;
}

.page-link:focus {
    outline: none; /* 포커스 테두리 제거 */
    box-shadow: none; /* 부트스트랩이 적용할 수 있는 박스 그림자 제거 */
}

.page-link[aria-label="First"],
.page-link[aria-label="Previous group"],
.page-link[aria-label="Next group"],
.page-link[aria-label="Last"] {
    background-color: transparent; /* 예시: 배경색 */
    color: #959595;
    border: 1px solid #959595;
}

.page-item:last-child .page-link {
    margin-right: 0;
}

.page-link[aria-label="First"]:hover,
.page-link[aria-label="Previous group"]:hover,
.page-link[aria-label="Next group"]:hover,
.page-link[aria-label="Last"]:hover {
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s;
}

.table-container-custom {
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.rotate-90 {
    display: inline-block;
    transform: rotate(-90deg);
}

.left-right-reversal {
    display: inline-block;
    transform: scaleX(-1);
}

.coupon-table {
    background-color: transparent;
    border-collapse: collapse;
}

.coupon-table tbody td:first-child,
.coupon-table thead th:first-child {
    text-align: left;
}

.coupon-table-title {
    font-family: 'Freesentation-9Black', sans-serif;
    /*color: #6E757C;*/
    color: black;
}

.coupon-table th {
    font-family: 'Freesentation-9Black', sans-serif;
}

.coupon-table td {
    font-family: 'Freesentation-6SemiBold', sans-serif;
}

.coupon-table th, .coupon-table td {
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border-bottom: 1px solid #6E757C;
    color: #6c757d;
}

.coupon-table tbody tr {
    height: 10vh;
}

.badge {
    font-size: 1rem;
}

.modal-content .btn-close:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(255, 87, 51, 0.8);
}