<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--Viewport-->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum=scale-1.0, minimum=scale-1.0">

    <!--(IE10)-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Nomalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>

    <!-- Boot Strap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Coukyrun - 선착순 쿠폰 발급 서비스</title>
    <link rel="icon" href="/images/title-logo-512.png" type="image/png">
</head>
<body>
<!-- 네비게이션 바 설정 -->
<header>
    <div th:replace="nav-bar-1st :: navbarFragment"></div>
    <div th:replace="nav-bar-2nd :: navbarFragment"></div>
</header>

<div class="container d-flex flex-column full-height full-width bg-custom">
    <div class="container-fluid flex-grow-1 pt-5">
        <div class="position-relative p-5 text-center text-muted bg-transparent">
            <div th:if="${coupon != null}" class="container d-flex justify-content-center">
                <!-- 타이머 화면 -->
                <div class="d-flex flex-wrap justify-content-center align-items-center timer-bg-custom p-3 mb-5"
                     id="timer" th:data-closed-at="${#temporals.format(coupon.closedAt, 'yyyy-MM-dd''T''HH:mm:ss')}"
                     style="min-width: 400px; width: 70%;">
                    <div class="text-center px-3 mx-3">
                        <div class="number custom-fs-5" id="days">0</div>
                        <div class="caption">DAYS</div>
                    </div>
                    <div class="h3 mx-3">:</div>
                    <div class="text-center px-3 mx-3">
                        <div class="number custom-fs-5" id="hours">00</div>
                        <div class="caption">HOURS</div>
                    </div>
                    <div class="h3 mx-3">:</div>
                    <div class="text-center px-3 mx-3">
                        <div class="number custom-fs-5" id="minutes">00</div>
                        <div class="caption">MINUTES</div>
                    </div>
                    <div class="h3 mx-3">:</div>
                    <div class="text-center px-3 mx-3">
                        <div class="number custom-fs-5" id="seconds">00</div>
                        <div class="caption">SECONDS</div>
                    </div>
                </div>
            </div>

            <!-- 쿠폰 정보 화면 -->
            <div th:if="${coupon != null}" class="container mt-5">
                <div class="ratio ratio-16x9 max-width-600">
                    <svg class="bd-placeholder-img" xmlns="http://www.w3.org/2000/svg" role="img"
                         aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                    </svg>
                </div>
                <h2 class="fw-normal mt-4" id="coupon-name" th:text="${coupon.couponName}"></h2>
                <div class="container mb-4" id="expiration-counter">
                    <span>사용 기한 :</span>
                    <span id="start-date" th:text="${#temporals.format(coupon.openAt, 'yyyy.MM.dd')}">2024.06.13</span>
                    ~
                    <span id="end-date" th:text="${#temporals.format(coupon.expiredAt, 'yyyy.MM.dd')}">2025.06.25</span>
                </div>
                <div class="container max-width-600" id="coupon-content">
                    <p th:text="${coupon.couponContent}"></p>
                </div>

                <div class="container justify-content-center mt-5">
                    <div class="container mb-2" id="stock-counter">
                        <span id="current-stock" th:text="${coupon.remainQuantity}">78</span> /
                        <span id="total-stock" th:text="${coupon.totalQuantity}">100</span>
                    </div>
                </div>
                <button class="mb-5 mt-2 btn-custom btn-bg btn-gra-anim" type="button" id="issue"
                th:data-coupon-id="${coupon.couponId}">
                    발급받기
                </button>
            </div>

            <!-- 쿠폰이 없는 경우 메시지 표시 -->
            <div class="justify-content-center align-items-center" th:if="${coupon == null}">
                <div class="container">
                    <img src="/images/soon.gif" alt="soon" width="200" height="200">
                    <h2 class="fw-normal">아쉽게도 현재 진행 중인 쿠폰이 없어요 😢</h2>
                    <p>곧 새로운 쿠폰으로 찾아뵙겠습니다.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer class="py-3 my-4 mt-0 mb-0 bg-light">
    <p class="text-center text-body-secondary" style="font-size: 15px">&copy; 2024 COUPON SERVICE. All rights
        reserved.</p>
</footer>
</body>
<script src="/js/script.js"></script>
</html>