<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <!--Viewport-->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum=scale-1.0, minimum=scale-1.0">

    <!--(IE10)-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Nomalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>

    <!-- Boot Strap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


    <!-- Flaticon -->
    <link rel='stylesheet'
          href='https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/48e8469b97.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Coukyrun - 마이 페이지</title>
    <link rel="icon" href="/images/title-logo-512.png" type="image/png">
</head>
<body>
<!-- 네비게이션 바 설정 -->
<header>
    <div th:replace="nav-bar-1st :: navbarFragment"></div>
</header>

<div class="container d-flex flex-column full-height full-width bg-custom">
    <div class="container text-center d-flex justify-content-center" style="margin-top: 50px">
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em" text-anchor="middle"
                      dominant-baseline="central">Thumbnail
                </text>
            </svg>
            <div class="container d-flex flex-column justify-content-center align-items-center mt-3">
                <h2 class="fw-normal mt-1">
                    <span th:text="${user.getNickName()}">유저 닉네임</span>
                    <span class="ms-1 f-4Regular">님</span>
                    <span class="ms-1">
                        <a href="/user/profile/setup">
                            <i class="fa-solid fa-angle-right" style="color: #a4aeb0"></i>
                        </a>
                    </span>
                </h2>
                <div th:switch="${user.getProvider()}">
                    <div th:case='kakao' class="d-flex align-items-center gap-2">
                        <img src="/images/카카오-256.png" alt="카카오 이미지" class="social-icon">
                        <p class="mt-3">카카오로 로그인 중</p>
                    </div>
                    <div th:case='google' class="d-flex align-items-center gap-2">
                        <img src="/images/구글-256.png" alt="구글 이미지" class="social-icon">
                        <p class="mt-3">구글로 로그인 중</p>
                    </div>
                    <div th:case='naver' class="d-flex align-items-center gap-2">
                        <img src="/images/네이버-256.png" alt="네이버 이미지" class="social-icon">
                        <p class="mt-3">네이버로 로그인 중</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container table-container-custom d-flex flex-column align-items-center justify-content-center p-5">
        <div class="container d-flex justify-content-between mb-3">
            <h3 class="coupon-table-title"><i class="fi fi-rr-ticket rotate-90"></i>&nbsp;내 <span
                    class="color-coral">쿠폰</span> 현황</h3>
            <p class="mt-1">나의 보유 쿠폰 <span class="color-coral" th:text="${count}"> </span> 장</p>
        </div>
        <table class="table coupon-table table-hover">
            <thead>
            <tr>
                <th>쿠폰 이름</th>
                <th>발행 일자</th>
                <th>만료 일자</th>
                <th>만료 상태 &nbsp;<i class="bi bi-info-circle"></i></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:if="${count == 0}">
                <tr>
                    <td colspan="4" class="text-center">현재 보유한 쿠폰이 없어요 😵‍💫</td>
                </tr>
            </th:block>
            <tr th:each="coupon : ${coupons}" th:data-bs-toggle="modal" th:data-bs-target="'#modalSheet'"
                th:data-name="${coupon.couponName}"
                th:data-description="${coupon.couponContent}"
                th:data-status="${coupon.validityStatus.description}"
                th:data-created="${#temporals.format(coupon.createdAt, 'yyyy-MM-dd')}"
                th:data-expired="${#temporals.format(coupon.expiredAt, 'yyyy-MM-dd')}">

                <td th:text="${coupon.couponName}">쿠폰 이름</td>
                <td th:text="${#temporals.format(coupon.createdAt, 'yyyy-MM-dd')}">발행 일자</td>
                <td th:text="${#temporals.format(coupon.expiredAt, 'yyyy-MM-dd')}">만료 일자</td>
                <td>
                    <span th:switch="${coupon.validityStatus.description}">
                        <span th:case="'만료'" class="badge bg-danger"
                              th:text="${coupon.validityStatus.description}"></span>
                        <span th:case="'만료 임박'" class="badge bg-warning"
                              th:text="${coupon.validityStatus.description}"></span>
                        <span th:case="'유효'" class="badge bg-success"
                              th:text="${coupon.validityStatus.description}"></span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation" th:if="${count > 0}">
            <ul class="pagination mt-5">
                <!-- 처음 페이지로 이동: 첫 번째 그룹에서는 항상 렌더링, 2페이지 이상에서 활성화 -->
                <li class="page-item" th:if="${paginationUtils.totalGroups > 1 || paginationUtils.currentPage > 1}">
                    <a class="page-link" th:href="@{/my-page(page=0, size=${coupons.size})}" aria-label="First" th:classappend="${paginationUtils.currentPage == 1 ? 'disabled' : ''}">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>

                <!-- 이전 페이지 그룹으로 이동: 첫 번째 그룹에서는 렌더링되지만 비활성화 -->
                <li class="page-item" th:if="${paginationUtils.totalGroups > 1}" th:classappend="${paginationUtils.isFirstGroup ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{/my-page(page=${paginationUtils.isFirstGroup ? paginationUtils.currentPage - 1 : paginationUtils.startPage - 2}, size=${coupons.size})}" aria-label="Previous Group">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>

                <!-- 페이지 번호 표시 -->
                <li th:each="i : ${#numbers.sequence(paginationUtils.startPage, paginationUtils.endPage)}"
                    th:class="${i == paginationUtils.currentPage ? 'page-item active' : 'page-item'}">
                    <a class="page-link" th:href="@{/my-page(page=${i - 1}, size=${coupons.size})}" th:text="${i}"></a>
                </li>

                <!-- 다음 페이지 그룹으로 이동 -->
                <li class="page-item" th:if="${!paginationUtils.isLastGroup}">
                    <a class="page-link" th:href="@{/my-page(page=${paginationUtils.endPage}, size=${coupons.size})}" aria-label="Next Group">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>

                <!-- 마지막 페이지로 이동 -->
                <li class="page-item" th:if="${!paginationUtils.isLastGroup}">
                    <a class="page-link" th:href="@{/my-page(page=${paginationUtils.totalPages - 1}, size=${coupons.size})}" aria-label="Last">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!-- footer -->
<footer class="py-3 my-4 mt-0 mb-0 bg-light">
    <p class="text-center text-body-secondary" style="font-size: 15px;">&copy; 2024 COUPON SERVICE. All rights
        reserved.</p>
</footer>

<!-- Modal -->
<div class="modal fade" id="modalSheet" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-4 p-2">
            <div class="modal-header border-bottom-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-header border-bottom-0 d-flex flex-column align-items-center justify-content-center px-5 pb-3">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"/>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em" text-anchor="middle"
                          dominant-baseline="central">Thumbnail
                    </text>
                </svg>
                <div class="card-body d-flex flex-column mt-3 w-100">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="fw-normal" id="modalCouponName">쿠폰 이름</h2>
                        <span class="badge bg-success ms-1" id="modalCouponStatus">유효</span>
                    </div>
                    <p class="card-text" id="modalCouponDescription">쿠폰에 대한 설명이 기재될 예정입니다.</p>
                </div>
            </div>
            <div class="container d-flex justify-content-between align-items-center p-3">
                <small class="text-body-secondary">
                    <span>발행 일자 </span>
                    <span id="modalCouponCreated">2023-06-01</span>
                </small>
                <small class="text-body-secondary">
                    <span>만료 일자 </span>
                    <span id="modalCouponExpired">2023-12-01</span>
                </small>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/script.js"></script>
</html>