<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입 페이지입니다.</h1>
<label><img alt="프로필 이미지" class="profile-image" src="/images/default%20image.png"></label>
<label><input type="text" class="profile-nick-name"></label>
<label><input type="checkbox" class="check-admin"> 관리자 체크 </label>
<button id="submit" type="button"> 제출 </button>
</body>
<script>
    document.getElementById("submit").addEventListener("click", function () {
        const formData = {
            image : "",
            nickName: document.querySelector(".profile-nick-name").value,
            registerAsAdmin: document.querySelector(".check-admin").checked
        }

        fetch("/user/profile/setup", {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => response.json())
            .then(data => {
                console.log("Success: ", data);
                window.location.href = "/";
            })
            .catch((error) => {
                console.error("Error: ", error);
                alert("프로필 업데이트에 실패했습니다.");
            });
    });
</script>
</html>