<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <!--Viewport-->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum=scale-1.0, minimum=scale-1.0">

    <!--(IE10)-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Nomalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>

    <!-- Boot Strap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Coukyrun - 오픈 예정 쿠폰</title>
    <link rel="icon" href="/images/title-logo-512.png" type="image/png">
</head>
<body>
<!-- 네비게이션 바 설정 -->
<header>
    <div th:replace="nav-bar-1st :: navbarFragment"></div>
    <div th:replace="nav-bar-2nd :: navbarFragment"></div>
</header>

<div class="container d-flex flex-column full-height full-width bg-custom">
    <div class="album py-5 bg-transparent">
        <div class="container">
            <div class="d-flex justify-content-center text-center mt-5" th:if="${count == 0}">
                <div class="d-flex justify-content-center align-items-center p-3 bg-white bg-opacity-50 rounded-3 shadow"
                     style="width: 70%; height: 300px;">
                    <h2 class="fw-normal">아직 오픈 예정된 쿠폰이 없어요 😅</h2>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div th:each="coupon : ${coupons} " class="col">
                    <div class="card shadow-sm">
                        <img width="100%" height="225" th:src="${coupon.couponImage}" alt="">
                        <div class="card-body d-flex flex-column">
                            <h2 th:text="${coupon.couponName}" class="fw-normal">쿠폰 이름 1</h2>
                            <p th:text="${coupon.couponContent}" class="card-text">쿠폰에 대한 설명이 기재될 예정입니다. 이 쿠폰은 행운을 가져다주는 특별한 쿠폰으로,
                                사용 시 당신에게 엄청난 행운이 찾아갈 것입니다. 얼른 쿠폰을 발급 받으세요. 100자</p>
                            <div class="d-flex justify-content-between align-items-center mt-auto">
                                <small class="text-body-secondary"><span>총재고 : </span>
                                    <span th:text="${coupon.totalQuantity}">100</span><span>장</span>
                                </small>
                                <small class="text-body-secondary">오픈 예정일
                                    <span th:text="${#temporals.format(coupon.openAt, 'yyyy-MM-dd')}"></span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="d-flex justify-content-center" aria-label="Page navigation" th:if="${count > 0} ">
            <ul class="pagination mt-5">
                <!-- 처음 페이지로 이동: 첫 번째 그룹에서는 항상 렌더링, 2페이지 이상에서 활성화 -->
                <li class="page-item" th:if="${paginationUtils.totalGroups > 1 || paginationUtils.currentPage > 1}">
                    <a class="page-link" th:href="@{/upcoming-coupons(page=0, size=${coupons.size})}" aria-label="First"
                       th:classappend="${paginationUtils.currentPage == 1 ? 'disabled' : ''}">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>

                <!-- 이전 페이지 그룹으로 이동: 첫 번째 그룹에서는 렌더링되지만 비활성화 -->
                <li class="page-item" th:if="${paginationUtils.totalGroups > 1}"
                    th:classappend="${paginationUtils.isFirstGroup ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/upcoming-coupons(page=${paginationUtils.isFirstGroup ? paginationUtils.currentPage - 1 : paginationUtils.startPage - 2}, size=${coupons.size})}"
                       aria-label="Previous Group">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>

                <!-- 페이지 번호 표시 -->
                <li th:each="i : ${#numbers.sequence(paginationUtils.startPage, paginationUtils.endPage)}"
                    th:class="${i == paginationUtils.currentPage ? 'page-item active' : 'page-item'}">
                    <a class="page-link" th:href="@{/upcoming-coupons(page=${i - 1}, size=${coupons.size})}"
                       th:text="${i}"></a>
                </li>

                <!-- 다음 페이지 그룹으로 이동 -->
                <li class="page-item" th:if="${!paginationUtils.isLastGroup}">
                    <a class="page-link"
                       th:href="@{/upcoming-coupons(page=${paginationUtils.endPage}, size=${coupons.size})}"
                       aria-label="Next Group">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>

                <!-- 마지막 페이지로 이동 -->
                <li class="page-item" th:if="${!paginationUtils.isLastGroup}">
                    <a class="page-link"
                       th:href="@{/past-coupons(page=${paginationUtils.totalPages - 1}, size=${coupons.size})}"
                       aria-label="Last">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!-- footer -->
<footer class="py-3 my-4 mt-0 mb-0 bg-light">
    <p class="text-center text-body-secondary" style="font-size: 15px;">&copy; 2024 COUPON SERVICE. All rights
        reserved.</p>
</footer>
</body>
<script src="/js/script.js"></script>
</html>